
  <div class="modal-header">
    <h4 class="modal-title">modal header</h4>
  </div>
  <div class="modal-body modal-sm">
    <form name="addRoomForm">
      <div class="input-group animated fadeIn">
        <input type="text" class="form-control finderBar"
        name="roomName"
        ng-model="modal.defaultStatement"
        required ng-minlength="1"
        placeholder="Please enter a Room..." autofocus>
          <span ng-show="addRoomForm.roomName.$error.required" class="help-inline">Room Name can not be empty!</span>
        <span class="input-group-btn">
          <!-- ng-disabled="addRoomForm.$invalid"  -->
          <button class="btn btn-default btn-success" type="submit"
          ng-click="modal.ok()">Add</button>
        </span>
      </div>
    </form>

  </div>
  <div class="modal-footer modal-sm">
    <button class="btn btn-primary" type="button" ng-click="modal.cancel()" data-dismiss="modal">Close</button>
  </div>
